[submodule "riichi-mahjong-tiles"]
	path = riichi-mahjong-tiles
	url = https://github.com/FluffyStuff/riichi-mahjong-tiles.git
[submodule "killer_mortal_gui"]
	path = killer_mortal_gui
	url = git@github.com:goreil/killer_mortal_gui.git
[submodule "riichi-tools-rs"]
	path = riichi-tools-rs
	url = git@github.com:goreil/riichi-tools-rs.git
[submodule "MahjongKit"]
	path = MahjongKit
	url = git@github.com:goreil/MahjongKit.git
[submodule "riichi-mahjong-trainer"]
	path = riichi-mahjong-trainer
	url = https://github.com/djuretic/riichi-mahjong-trainer.git
